@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto+Condensed&display=swap");
.main_body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ffffff0c;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.main_body .overlay {
  background-color: rgba(0, 0, 0, 0.45);
  /*        Top Section Starts        */
  /* Top Section Ends */
  /* Mid Section Starts */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  /* Mid Section Ends */
  /* Bottom Section Starts */
  /* Bottom Section Ends */
}

.main_body .overlay .top_content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 5px 15px;
  justify-content: space-between;
  box-sizing: border-box;
}

.main_body .overlay .top_content .left {
  width: 40px;
}

.main_body .overlay .top_content .left a {
  line-height: 50px;
  text-align: center;
  display: block;
}

.main_body .overlay .top_content .mid a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.main_body .overlay .top_content .mid a:hover {
  color: #089000;
}

.main_body .overlay .top_content .right {
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_body .overlay .top_content .right img {
  width: 32px;
  height: 32px;
  padding: 2px;
  border-radius: 50%;
}

.main_body .overlay .content {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: calc(100vh - 121px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.main_body .overlay .content .app_content_body {
  display: flex;
  height: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.main_body .overlay .content .app_content_body .app_content {
  flex: 1;
  overflow-y: scroll;
  height: 100%;
  /* Result Part Starts */
  /* Result Part Ends */
}

.main_body .overlay .content .app_content_body .app_content .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.main_body .overlay ::-webkit-scrollbar {
  width: 8px;
}

.main_body .overlay ::-webkit-scrollbar-track {
  background: #2b2727;
}

.main_body .overlay ::-webkit-scrollbar-thumb {
  background: #00a2ff;
  border-radius: 5px;
  border-radius: 0 0 5px 5px;
}

.main_body .overlay ::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

.main_body .overlay .bottom .bottom_content {
  padding: 10px 25px;
}

.main_body .overlay .bottom .bottom_content .nav_links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.main_body .overlay .bottom .bottom_content .nav_links li a {
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  transition: all linear .3s;
}

.main_body .overlay .bottom .bottom_content .nav_links li a i {
  display: inline-block;
}

.main_body .overlay .bottom .bottom_content .nav_links li a span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
}

.main_body .overlay {
  /* Top Part Starts  */
  /* Top Part Ends  */
  /* Bottom Part Starts */
  /* Bottom Part Ends */
}

.main_body .overlay .top {
  position: relative;
  /* Left Nav Bar Starts */
  /* Left Nav Bar Ends */
  /* Right Nav Bar Starts */
  /* Right Nav Bar Ends */
}

.main_body .overlay .top .navbar {
  position: absolute;
  background-color: #00a2ff;
  width: 100%;
  height: 36vh;
  top: 100%;
  left: -200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
}

.main_body .overlay .top .navbar .nav_links {
  width: 100%;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
}

.main_body .overlay .top .navbar .nav_links:hover {
  background-color: #1d1d1d;
}

.main_body .overlay .top .navbar .nav_links:hover a {
  color: #00a2ff;
  letter-spacing: 8px;
}

.main_body .overlay .top .navbar .nav_links a {
  width: 100%;
  color: whitesmoke;
  padding: 10px 25px;
  font-size: 20px;
  letter-spacing: 5px;
}

.main_body .overlay .top .navbar_show {
  left: 0;
}

.main_body .overlay .top .navbar_show .close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  cursor: wait;
}

.main_body .overlay .top .navbar_show .close:hover {
  color: #ff2600;
  background-color: #1d1d1d;
}

.main_body .overlay .top .top_content {
  background: #00a2ff;
}

.main_body .overlay .top .top_content .left a {
  color: whitesmoke;
}

.main_body .overlay .top .top_content .left a:hover {
  color: #0d048f;
}

.main_body .overlay .top .top_content .mid input {
  border: 2px solid whitesmoke;
  color: #00a2ff;
  background: whitesmoke;
}

.main_body .overlay .top .top_content .mid input:focus {
  outline: 2px solid #089000;
}

.main_body .overlay .top .top_content .mid a {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: whitesmoke;
}

.main_body .overlay .top .top_content .mid a:hover {
  color: #0d048f;
}

.main_body .overlay .top .top_content .right img {
  border: 3px solid whitesmoke;
}

.main_body .overlay .top .top_content .right img:hover {
  border: 3px solid #0d048f;
}

.main_body .overlay .top .navbar2 {
  position: absolute;
  width: 50%;
  height: 25vh;
  top: 100%;
  right: -200%;
  background-color: #00a2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
}

.main_body .overlay .top .navbar2 .nav_links {
  width: 100%;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
}

.main_body .overlay .top .navbar2 .nav_links:hover {
  background-color: #1d1d1d;
}

.main_body .overlay .top .navbar2 .nav_links:hover a {
  color: #00a2ff;
  letter-spacing: 8px;
}

.main_body .overlay .top .navbar2 .nav_links a {
  width: 100%;
  color: whitesmoke;
  padding: 10px 25px;
  font-size: 20px;
  letter-spacing: 5px;
}

.main_body .overlay .top .navbar_show {
  left: 0;
  border-top: 3px solid whitesmoke;
}

.main_body .overlay .top .navbar_show .close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  cursor: wait;
}

.main_body .overlay .top .navbar_show .close:hover {
  color: #ff2600;
  background-color: #1d1d1d;
}

.main_body .overlay .top .navbar_show2 {
  right: 0;
  border-top: 3px solid whitesmoke;
}

.main_body .overlay .top .navbar_show2 .close2 {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  cursor: wait;
}

.main_body .overlay .top .navbar_show2 .close2:hover {
  color: #ff2600;
  background-color: #1d1d1d;
}

.main_body .overlay .content .app_content_body .app_content {
  /* Top Content Part Starts  */
  /* Top Content Part Ends  */
  /* Main Content Part Starts  */
  /* Main Content Part Ends  */
}

.main_body .overlay .content .app_content_body .app_content .form {
  background: #ffffff0c;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.main_body .overlay .content .app_content_body .app_content .form ul {
  padding: 8px 10px;
}

.main_body .overlay .content .app_content_body .app_content .form ul li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 10px 0px; */
  padding: 3px 3px;
}

.main_body .overlay .content .app_content_body .app_content .form ul li .btn1 {
  margin: 4px 4px;
  padding: 8px 16px;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0);
  /* border-radius: 5px; */
  border: 2px solid #00a2ff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
  transition: all linear 0.3s;
  cursor: pointer;
}

.main_body .overlay .content .app_content_body .app_content .form ul li .btn1:hover {
  background: #00a2ff;
  border: 2px solid #00a2ff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.main_body .overlay .content .app_content_body .app_content .form ul li .active {
  color: #00a2ff;
  font-weight: 500;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
}

.main_body .overlay .content .app_content_body .app_content .form ul li .active:hover {
  color: whitesmoke;
  background-color: transparent;
  border: 2px solid #00a2ff;
}

.main_body .overlay .content .app_content_body .app_content #gallery {
  font-family: 'Roboto Condensed', sans-serif;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card {
  background: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-header h5 {
  font-size: 28px;
  font-weight: 500;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-header h5 .num {
  color: #ff2600;
  font-weight: 600;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body form .input_text {
  background: whitesmoke;
  color: #00a2ff;
  padding: 12px 6px;
  border: none;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body form .input_text:focus {
  background: #00a2ff;
  color: whitesmoke;
  outline: 2px solid whitesmoke;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body form .btn {
  padding: 10px 20px;
  background: #00a2ff;
  color: whitesmoke;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body form .btn:hover {
  background: whitesmoke;
  color: #00a2ff;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list {
  display: flex;
  flex-direction: column-reverse;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list .list_item {
  padding: 3px;
  margin: 10px 0;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  text-transform: capitalize;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list .list_item:hover {
  border: 1px solid #00a2ff;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list .list_item .check_div {
  display: flex;
  align-items: center;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list .list_item .check_div .check {
  height: 15px;
  width: 15px;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list .list_item .check_div .label {
  margin-left: 5px;
  font-size: 16px;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list .list_item .btn {
  color: #ff2600;
  padding: 10px;
}

.main_body .overlay .content .app_content_body .app_content #gallery .card .card-body .list .list_item .btn:hover {
  color: #7a7a7a;
}

.main_body .overlay .bottom .bottom_content {
  background: #00a2ff;
}

.main_body .overlay .bottom .bottom_content .nav_links li a {
  color: #0d048f;
}

.main_body .overlay .bottom .bottom_content .nav_links li a:hover {
  color: whitesmoke;
}

.main_body .overlay .bottom .bottom_content .nav_links li .active {
  color: whitesmoke;
}

.main_body .overlay .bottom .bottom_content .nav_links li .active:hover {
  color: #0d048f;
}

@media (min-width: 576px) {
  body {
    margin: 0 auto;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
  }
  body .packed {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .packed .main_body {
    margin: 0 auto;
    background: none;
    box-sizing: border-box;
    font-family: 'Aldrich', sans-serif;
    min-height: 600px;
    max-height: 740px;
    padding: 2vh;
  }
  body .packed .main_body .overlay {
    margin: 0 auto;
    border-radius: 25px;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  body .packed .main_body .overlay .top {
    height: 70px;
    width: 100%;
    padding: 5px;
    position: relative;
    /* Navbar Starts */
    /* Navbar Ends */
  }
  body .packed .main_body .overlay .top .navbar {
    position: absolute;
    width: 63%;
    height: 33vh;
    top: 93%;
    left: -300%;
    background-color: #00a2ff;
  }
  body .packed .main_body .overlay .top .navbar_show {
    left: 5px;
  }
  body .packed .main_body .overlay .top .navbar2 {
    width: 40%;
    top: 93%;
    right: -300%;
    height: 28vh;
  }
  body .packed .main_body .overlay .top .navbar2 .close2 {
    right: 5px;
    top: 3px;
  }
  body .packed .main_body .overlay .top .navbar_show2 {
    right: 5px;
  }
  body .packed .main_body .overlay .top .top_content {
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  body .packed .main_body .overlay .content {
    flex: 1;
    padding: 0 5px;
    width: 500px;
    min-height: 500px;
    max-height: 570px;
  }
  body .packed .main_body .overlay .content .app_content_body .app_content {
    flex: 1;
    background: #ffffff0c;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
  body .packed .main_body .overlay .content .app_content_body .app_content .lg-btn {
    padding: 12px 24px;
    font-size: 18px;
  }
  body .packed .main_body .overlay .content .app_content_body .app_content #gallery {
    font-family: 'Aldrich', sans-serif;
  }
  body .packed .main_body .overlay .content .app_content_body .app_content #gallery .card {
    background: rgba(255, 255, 255, 0);
    color: whitesmoke;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.65);
  }
  body .packed .main_body .overlay ::-webkit-scrollbar {
    width: 10px;
  }
  body .packed .main_body .overlay ::-webkit-scrollbar-track {
    background: #7a7a7a;
  }
  body .packed .main_body .overlay ::-webkit-scrollbar-thumb {
    background: #00a2ff;
    border-radius: 0 0 5px 5px;
  }
  body .packed .main_body .overlay ::-webkit-scrollbar-thumb:hover {
    background: #00a2ff7e;
  }
  body .packed .main_body .overlay .bottom {
    height: 70px;
    width: 100%;
    padding: 5px;
  }
  body .packed .main_body .overlay .bottom .bottom_content {
    box-shadow: 0px 0px 5px #0000004d;
    border-radius: 0 0 20px 20px;
  }
}
