.main_body .overlay {
  /* Top Part Starts  */
  /* Top Part Ends  */
  /* Bottom Part Starts */
  /* Bottom Part Ends */
}

.main_body .overlay .top {
  position: relative;
  /* Left Nav Bar Starts */
  /* Left Nav Bar Ends */
  /* Right Nav Bar Starts */
  /* Right Nav Bar Ends */
}

.main_body .overlay .top .navbar {
  position: absolute;
  background-color: var(--color2);
  width: 100%;
  height: 40vh;
  top: 100%;
  left: -200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
  /* padding: 5px 20px; */
}

.main_body .overlay .top .navbar .nav_links {
  width: 100%;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  /* font-weight: 500; */
}

.main_body .overlay .top .navbar .nav_links:hover {
  background-color: var(--black);
}

.main_body .overlay .top .navbar .nav_links:hover a {
  color: var(--color2);
}

.main_body .overlay .top .navbar .nav_links a {
  width: 100%;
  color: var(--white);
  padding: 10px 25px;
  font-size: 20px;
  letter-spacing: 5px;
}

.main_body .overlay .top .navbar_show {
  left: 0;
}

.main_body .overlay .top .navbar_show .close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  cursor: wait;
}

.main_body .overlay .top .navbar_show .close:hover {
  color: var(--red);
  background-color: var(--black);
}

.main_body .overlay .top .top_content {
  background: var(--color2);
}

.main_body .overlay .top .top_content .left a {
  color: var(--white);
}

.main_body .overlay .top .top_content .left a:hover {
  color: var(--color1);
}

.main_body .overlay .top .top_content .mid input {
  border: 2px solid var(--white);
  color: var(--color2);
  background: var(--white);
}

.main_body .overlay .top .top_content .mid input:focus {
  outline: 2px solid var(--primary1);
}

.main_body .overlay .top .top_content .mid a {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--white);
}

.main_body .overlay .top .top_content .mid a:hover {
  color: var(--color1);
}

.main_body .overlay .top .top_content .right img {
  border: 3px solid var(--white);
}

.main_body .overlay .top .top_content .right img:hover {
  border: 3px solid var(--color1);
}

.main_body .overlay .top .navbar2 {
  position: absolute;
  width: 50%;
  height: 28vh;
  top: 100%;
  right: -200%;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
  /* padding: 5px 20px; */
}

.main_body .overlay .top .navbar_show2 {
  right: 0;
}

.main_body .overlay .top .navbar_show2 .close2 {
  right: 0;
  top: 0;
}

.main_body .overlay .content .app_content_body .app_content {
  /* Input Part Starts  */
  /* Input Part Ends  */
  /*      Result Part        */
  /* Output Part Starts  */
  /* Output Part Ends  */
}

.main_body .overlay .content .app_content_body .app_content .form {
  /* background: var(--bgcolor); */
  background: var(--glass);
  /* background: var(--transparent); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* color: var(--color2); */
}

.main_body .overlay .content .app_content_body .app_content .form ul {
  padding: 8px 10px;
  /* margin: 10px 0px; */
}

.main_body .overlay .content .app_content_body .app_content .form ul li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 10px 0px; */
  padding: 3px 3px;
}

.main_body .overlay .content .app_content_body .app_content .form ul li .btn1 {
  margin: 4px 4px;
  padding: 6px 14px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  background: var(--transparent);
  /* border-radius: 5px; */
  border: 2px solid var(--color2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
  transition: all linear 0.3s;
  cursor: pointer;
}

.main_body .overlay .content .app_content_body .app_content .form ul li .btn1:hover {
  background: var(--color2);
  border: 2px solid var(--color2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.main_body .overlay .content .app_content_body .app_content .form ul li .active {
  color: var(--color2);
  font-weight: 500;
  background-color: var(--white);
  border: 2px solid var(--white);
}

.main_body .overlay .content .app_content_body .app_content .form ul li .active:hover {
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--color2);
}

.main_body .overlay .content .app_content_body .app_content .hr {
  border-bottom: 6px solid var(--black);
}

.main_body .overlay .content .app_content_body .app_content #list {
  padding: 5px 10px;
  /* border: 1px solid gray; */
  /* margin-top: 5px; */
}

.main_body .overlay .content .app_content_body .app_content #list li {
  margin: 3px;
  /* padding: 15px; */
  width: 40px;
  height: 40px;
  /* border-radius: 10px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary1);
  font-weight: 600;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.main_body .overlay .content .app_content_body .app_content #list li:hover {
  color: var(--white);
  border: 2px solid var(--secondary1);
  border-radius: 10px;
  /* border-radius: 50%; */
}

.main_body .overlay .bottom .bottom_content {
  background: var(--color2);
  /* border: 1px solid red; */
  /* height: 70px; */
  /* width: 100%; */
  /* padding: 5px; */
}

.main_body .overlay .bottom .bottom_content .nav_links li a {
  color: var(--color1);
}

.main_body .overlay .bottom .bottom_content .nav_links li a:hover {
  color: var(--white);
}

.main_body .overlay .bottom .bottom_content .nav_links li .active {
  color: var(--white);
}

.main_body .overlay .bottom .bottom_content .nav_links li .active:hover {
  color: var(--color1);
}
