$color1: #0d048f;
$color2: #00a2ff;
$color2_accent: #00a2ff7e;
$color3: rgb(255, 38, 0);
$red: rgb(255, 38, 0);
$white: whitesmoke;
$bgcolor: #2e2e2e;
$grey: rgb(122, 122, 122);
$black: #1d1d1d;
$primary1: #b488e0;
$primary1: #089000;
$primary2: #06768570;
$secondary1: #3ff5cf;
$secondary2: #3df5c1;
$gradient: linear-gradient(65deg, #47def3 40%, #006347 80%);
$transparent: rgba(255, 255, 255, 0);
$transparent2:rgba(0, 0, 0, 0.3);
$glass: #ffffff0c;


@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto+Condensed&display=swap');