@media (min-width: 576px) {

    body {
        margin: 0 auto;
        background: url('../img/bg.jpg') no-repeat center;
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;

        .packed {
            background-color: rgba(0, 0, 0, .6);
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .main_body {
                margin: 0 auto;
                background: none;
                box-sizing: border-box;
                font-family: 'Aldrich', sans-serif;
                /* background: $glass;
                background: $transparent; 
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);  */
                min-height: 600px;
                max-height: 740px;
                padding: 2vh;

                .overlay {
                    // background-color: rgba(0, 0, 0, .5);
                    // height: 80vh;
                    margin: 0 auto;
                    border-radius: 25px;


                    .top {
                        height: 70px;
                        width: 100%;
                        padding: 5px;
                        position: relative;

                        /* Navbar Starts */

                        .navbar {
                            position: absolute;
                            width: 63%;
                            height: 33vh;
                            top: 93%;
                            left: -300%;
                            background-color: $color2;
                        }

                        .navbar_show {
                            left: 5px;
                        }


                        .navbar2 {
                            width: 40%;
                            // height: 21vh;
                            top: 93%;
                            right: -300%;
                            height: 28vh;

                            .close2 {
                                right: 5px;
                                top: 3px;
                            }
                        }

                        .navbar_show2 {
                            right: 5px;
                        }

                        /* Navbar Ends */

                        .top_content {
                            border-radius: 20px 20px 0 0;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
                        }
                    }


                    .content {
                        flex: 1;
                        padding: 0 5px;
                        width: 500px;
                        // height: calc(100vh - 173px);
                        min-height: 500px;
                        max-height: 570px;

                        .app_content_body {

                            .app_content {
                                flex: 1;
                                /* background: $bgcolor; */
                                background: $glass;
                                backdrop-filter: blur(7px);
                                -webkit-backdrop-filter: blur(7px);


                                .lg-btn {
                                    padding: 12px 24px;
                                    font-size: 18px;
                                }

                                #gallery {
                                    font-family: 'Aldrich', sans-serif;

                                    .card {
                                        // background: $color2_accent;
                                        background: $transparent;
                                        color: $white;
                                        box-shadow: 0 0 5px rgba(255, 255, 255, 0.65);
                                    }
                                }

                            }
                        }

                    }


                    /* width */
                    ::-webkit-scrollbar {
                        width: 10px;
                    }

                    /* Track */
                    ::-webkit-scrollbar-track {
                        background: $grey;
                    }

                    /* Handle */
                    ::-webkit-scrollbar-thumb {
                        background: $color2;
                        border-radius: 0 0 5px 5px;
                    }

                    /* Handle on hover */
                    ::-webkit-scrollbar-thumb:hover {
                        background: $color2_accent;
                    }


                    .bottom {
                        height: 70px;
                        width: 100%;
                        padding: 5px;

                        .bottom_content {
                            box-shadow: 0px 0px 5px #0000004d;
                            border-radius: 0 0 20px 20px;
                        }
                    }

                }
            }
        }

    }

}