.main_body {

    .overlay {

        /* Top Part Starts  */

        .top {
            position: relative;

            /* Left Nav Bar Starts */

            .navbar {
                position: absolute;
                background-color: $color2;
                width: 100%;
                height: 36vh;
                top: 100%;
                left: -200%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                z-index: 100;
                /* padding: 5px 20px; */

                .nav_links {
                    width: 100%;
                    display: inline-flex;
                    text-align: center;
                    text-transform: uppercase;
                    line-height: 30px;
                    /* font-weight: 500; */

                    &:hover {
                        background-color: $black;

                        a {
                            color: $color2;
                            letter-spacing: 8px;
                        }
                    }

                    a {
                        width: 100%;
                        color: $white;
                        padding: 10px 25px;
                        font-size: 20px;
                        letter-spacing: 5px;
                    }

                }

            }

            .navbar_show {
                left: 0;

                .close {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 18px;
                    cursor: wait;

                    &:hover {
                        color: $red;
                        background-color: $black;
                    }

                }

            }

            /* Left Nav Bar Ends */

            .top_content {

                background: $color2;

                .left {

                    a {
                        color: $white;

                        &:hover {
                            color: $color1;
                        }
                    }
                }

                .mid {

                    input {
                        border: 2px solid $white;
                        color: $color2;
                        background: $white;

                        &:focus {
                            outline: 2px solid $primary1;
                        }
                    }

                    a {
                        font-size: 28px;
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        color: $white;

                        &:hover {
                            color: $color1;
                        }
                    }
                }

                .right img {
                    border: 3px solid $white;

                    &:hover {
                        border: 3px solid $color1;
                    }
                }

            }

            /* Right Nav Bar Starts */

            .navbar2 {
                position: absolute;
                width: 50%;
                height: 25vh;
                top: 100%;
                right: -200%;
                background-color: $color2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                z-index: 100;
                /* padding: 5px 20px; */

                .nav_links {
                    width: 100%;
                    display: inline-flex;
                    text-align: center;
                    text-transform: uppercase;
                    line-height: 30px;
                    /* font-weight: 500; */

                    &:hover {
                        background-color: $black;

                        a {
                            color: $color2;
                            letter-spacing: 8px;
                        }
                    }

                    a {
                        width: 100%;
                        color: $white;
                        padding: 10px 25px;
                        font-size: 20px;
                        letter-spacing: 5px;
                    }

                }
            }

            .navbar_show {
                left: 0;
                border-top: 3px solid $white;

                .close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 25px;
                    cursor: wait;

                    &:hover {
                        color: $red;
                        background-color: $black;
                    }

                }

            }

            .navbar_show2 {
                right: 0;
                border-top: 3px solid $white;

                .close2 {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 20px;
                    cursor: wait;

                    &:hover {
                        color: $red;
                        background-color: $black;
                    }
                }
            }

            /* Right Nav Bar Ends */

        }

        /* Top Part Ends  */


        .content {

            .app_content_body {

                .app_content {
                    /* Input Part Starts  */

                    .form {
                        /* background: $bgcolor; */
                        background: $glass;
                        /* background: $transparent; */
                        backdrop-filter: blur(5px);
                        -webkit-backdrop-filter: blur(5px);
                        /* color: $color2; */

                        ul {
                            padding: 8px 10px;
                            /* margin: 10px 0px; */

                            li {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                /* margin: 10px 0px; */
                                padding: 3px 3px;

                                .btn1 {
                                    margin: 4px 4px;
                                    padding: 8px 16px;
                                    color: $white;
                                    text-transform: uppercase;
                                    font-weight: 400;
                                    letter-spacing: 2px;
                                    font-size: 15px;
                                    background: $transparent;
                                    /* border-radius: 5px; */
                                    border: 2px solid $color2;
                                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
                                    transition: all linear 0.3s;
                                    cursor: pointer;

                                    &:hover {
                                        background: $color2;
                                        border: 2px solid $color2;
                                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                                    }

                                }

                                .active {
                                    color: $color2;
                                    font-weight: 500;
                                    background-color: $white;
                                    border: 2px solid $white;

                                    &:hover {
                                        color: $white;
                                        background-color: transparent;
                                        border: 2px solid $color2;
                                    }
                                }

                            }
                        }
                    }

                    /* Input Part Ends  */


                    /*      Result Part        */

                    /* Output Part Starts  */

                    #gallery{

                        .card{
                            background: $transparent2;
                            color: $white;
                            // border: 1px solid $color2;
                            padding: 5px;
                            margin: 5px 10px;
                            border-radius: 15px;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

                            .card-header{

                                h5{
                                    font-size: 28px;
                                    font-weight: 600;
                                }
                            }

                            .card-body{
                                // background: $transparent!important;
                                
                                form{

                                    .input_text{
                                        background: $color2_accent;
                                        color: $white;
                                        padding: 12px 6px;

                                        &:focus{
                                            background: $color2;

                                        }
                                    }

                                    .btn{
                                        padding: 10px 20px;
                                        background: $white;
                                        color: $color2;
                                        border: 2px solid $white;

                                        &:hover{
                                            background: $color2;
                                            color: $white;
                                            border: 2px solid $color2;
                                        }
                                    }
                                }

                                .list {

                                    display: flex;
                                    flex-direction: column-reverse;
                                    // background: $transparent!important;
    
                                    .list_item {
                                        padding: 3px;
                                        margin: 10px 0;
                                        border: 1px solid $white;
                                        border-radius: 5px;

                                        &:hover{
                                            border: 1px solid $color2;    
                                        }
            
                                        .check_div {
                                            display: flex;
                                            align-items: center;
            
                                            .check {
                                                height: 15px;
                                                width: 15px;
                                            }
            
                                            .label {
                                                margin-left: 5px;
                                                font-size: 16px;
                                            }
                                        }
            
                                        .btn{
                                            color: $red;
                                            padding: 10px;
            
                                            &:hover{
                                                color: $grey;
                                                
            
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                    
                    

                    // #list {
                    //     padding: 5px 10px;
                    //     /* border: 1px solid gray; */
                    //     /* margin-top: 5px; */

                    //     li {
                    //         margin: 3px;
                    //         /* padding: 15px; */
                    //         width: 40px;
                    //         height: 40px;
                    //         /* border-radius: 10px; */
                    //         display: inline-flex;
                    //         justify-content: center;
                    //         align-items: center;
                    //         color: $secondary1;
                    //         font-weight: 600;
                    //         border: 1px solid $white;
                    //         border-radius: 50%;

                    //         &:hover {
                    //             color: $white;
                    //             border: 2px solid $secondary1;
                    //             border-radius: 10px;
                    //             /* border-radius: 50%; */
                    //         }
                    //     }
                    // }

                    /* Output Part Ends  */
                }
            }
        }

        /* Bottom Part Starts */


        .bottom {

            .bottom_content {
                background: $color2;
                /* border: 1px solid red; */
                /* height: 70px; */
                /* width: 100%; */
                /* padding: 5px; */

                .nav_links {

                    li {

                        a {
                            color: $color1;

                            &:hover {
                                color: $white;
                            }
                        }

                        .active {
                            color: $white;

                            &:hover {
                                color: $color1;
                            }
                        }
                    }
                }
            }
        }

        /* Bottom Part Ends */

    }
}