    @import 'config';

    .main_body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: $glass;
        background: url('../img/bg.jpg') no-repeat center;
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;

        .overlay {
            background-color: rgba(0, 0, 0, 0.45);

            /*        Top Section Starts        */

            .top_content {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                padding: 5px 15px;
                justify-content: space-between;
                box-sizing: border-box;

                .left {
                    width: 40px;

                    a {
                        line-height: 50px;
                        text-align: center;
                        display: block;
                       
                    }
                }


                .mid {

                    a {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;

                        &:hover {
                            color: $primary1;
                        }
                    }
                }

                .right {
                    width: 40px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;
                        padding: 2px;
                        border-radius: 50%;
                    }
                }
            }

            /* Top Section Ends */


            /* Mid Section Starts */

            .content {
                flex: 1;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                height: calc(100vh - 121px);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);


                .app_content_body {
                    display: flex;
                    height: 100%;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

                    .app_content {
                        flex: 1;
                        overflow-y: scroll;
                        height: 100%;


                        /* Result Part Starts */

                        .gallery {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            padding: 10px;
                            box-sizing: border-box;

                        }

                        /* Result Part Ends */

                    }
                }

            }



            /* width */
            ::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: #2b2727;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: $color2;
                border-radius: 5px;
                border-radius: 0 0 5px 5px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: rgb(97, 97, 97);
            }

            /* Mid Section Ends */


            /* Bottom Section Starts */

            .bottom {

                .bottom_content {
                    padding: 10px 25px;

                    .nav_links {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: center;

                        li {
                            a {
                                display: inline-block;
                                text-align: center;
                                letter-spacing: 1px;
                                transition: all linear .3s;

                                i {
                                    display: inline-block;
                                }

                                span {
                                    display: block;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    padding: 5px;
                                }


                            }
                        }
                    }
                }
            }

            /* Bottom Section Ends */

        }

    }

    @import 'theme';
    @import 'responsive';